.message{data: {"id": "#{message.id}"}}
  .message__upper-info__talker
    = message.user.name
    .message__upper-info__date
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M")
  .message__text
    - if message.content.present?
      .lower-message__content
        = message.content 
        %p
          = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
